<!DOCTYPE html>
<html>
  <head>
    <title>The AGE-ility Project | {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/button.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="nav">
      <a href="/index.html" class="imglink">
        <img src="/images/logo_full.png" width="100" height="69" alt="AGE-ility Project - Flexible Minds for Life">
      </a>
      <div class="btn-group">
        <a class="btn" href="/index.html">Home</a>
        <a class="btn" href="/project.html">The Project</a>
        <a class="btn" href="/team.html">Our Team</a>
        <a class="btn" href="/publications.html">Publications</a>
        <a class="btn" href="/participate.html">How To Participate</a>
        <a class="btn" href="/contact.html">Contact Us</a>
      </div>
      <a href="http://www.newcastle.edu.au" class="imglink">
        <img src="/images/nu_logo.png" width="70" height="70" alt="The University of Newcastle, Australia">
      </a>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="collab">
      <img src="/images/hmri.png" width="150" height="122" alt="Hunter Medical Research Institute">
      <img src="/images/prc_tnmh.png" width="250" height="27" alt="Priority Research Centre - Translational Neuroscience and Mental Health" style="vertical-align: bottom;">
      <img src="/images/arc.png" width="250" height="68" alt="Australian Research Council">
      <img src="/images/collaboration.png" width="143" height="92" alt="In collaboration with UNSW, UvA and UoC">
    </div>
    <p style="text-align: center; font-size: 7pt;">
    Copyright &copy; 2013 The University of Newcastle, Australia.
    </p>
  </body>
</html>
